/* ---------------------------------------------------------
   GLOBAL RESET + BASE SETTINGS
--------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #d7e8cc;
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: 100vh;
    position: relative;
}


.home {
    width: 100%;
    background-color: #d7e8cc;
}
.home-content{
display: flex;
align-items: center;
justify-content: center;
padding-top: 40px;
}

.home-logo{
    width: 860px;
height: 358px;
top: 183px;
left: 289px;

}